---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<main>
		<!-- <h1 class="text-8xl mt-16">About</h1> -->
    <a href="/">Home</a>
	</main>
</Layout>



<style>
main{
  margin-top: 150px;
  margin-left: 50px;
}
  
</style>