---
import Splash from '../components/Splash.astro'
import Layout from '../layouts/Layout.astro'
import Carousel from '../components/Carousel.astro'
---

<Layout title="Matthew Via Music">

  <div id="splash">
    <Splash />
  </div>

    
	<main id="carousel">
    <Carousel />
	</main>

</Layout>


<style>
.fade-out{
  animation: fade_out .8s
}
.fade-in{
  animation: fade_in 1.5s
}
.remove{
  display: none;
}
@keyframes fade_out {
     0% {
          opacity: 1;
     }

     100% {
          opacity: 0;
     }
}
@keyframes fade_in {
     0% {
          opacity: 0;
          transform: scale(0)
     }

     100% {
          transform-origin: 50% 0%;
          opacity: 1;
          transform: scale(1)
     }
}

</style>

<script>

const buttons = document.querySelectorAll('#splash');

buttons.forEach((button) => {
    button.addEventListener('click', () => {
      document.getElementById('splash').classList.add('fade-out')
      document.getElementById('carousel').classList.add('fade-in')
      setTimeout(() => {
        document.getElementById('splash').classList.add('remove')
    }, 300)
     
    })
  })

window.addEventListener(
  "keydown",
  function(event) {
    document.getElementById('splash').classList.add('fade-out')
    document.getElementById('carousel').classList.add('fade-in')
      setTimeout(() => {
        document.getElementById('splash').classList.add('remove')
    }, 300)
     
  }
)

</script>