---
import Layout from '../layouts/Layout.astro'
import Carousel from '../components/Carousel.astro'
---

<Layout title="Matthew Via Music">
	<main>
	<!-- <main class="mx-auto px-4"> -->
    <Carousel />
	</main>
</Layout>

