---
// bg-[#ffcd56]
---
<div class="z-50 text-center w-screen h-screen">

  <div class="max-w-lg w-[80vw] m-auto mt-8 md:mt-12 text-4xl text-white font-mono">
 
  <p class="lg:hidden cursor-pointer"><span class="yellow px-2 -ml-2 text-black leading-tight">Swipe left and right</span> to move around the site</p><p class="lg:hidden text-sm ml-2 leading-tight">(Keyboard arrows on computer)</p>

  <p class="relative hidden lg:block cursor-pointer">Use your <span class="yellow px-2 -ml-2 text-black">keyboard left and right arrows to navigate</span><span class="text-sm ml-2 mt-[14px] absolute">(Swipe on mobile)</span></p>

  <button class="inline-block mt-10 text-white text-xl cursor-pointer">TAP 'M' TO START</button>
  </div>

  <p class="mt-4 sm:mt-6 text-white text-8xl cursor-pointer">&#8499;.</p>
</div>
