---

---
<div class="z-50 text-center w-screen h-screen">

  <div class="max-w-lg w-[80vw] m-auto mt-8 md:mt-12 text-4xl text-white font-mono">
 
  <p class="lg:hidden"><span class="bg-[#ffcd56] px-2 -ml-2 text-black leading-tight">Swipe</span> left and right to move around the site</p><p class="lg:hidden text-sm ml-2 leading-tight">(Keyboard arrows on computer)</p>

  <p class="relative hidden lg:block">Use your <span class="bg-[#ffcd56] px-2 -ml-2 text-black">keyboard left and right arrows to navigate</span><span class="text-sm ml-2 mt-[14px] absolute">(Swipe on mobile)</span></p>

  </div>

  <button class="mt-10 text-white text-2xl">PRESS 'M' TO START!</button>
  <p class="mt-4 text-white text-8xl">&#8499;.</p>
</div>
