.swiper-outer{
  position: relative;
  z-index: 1;
  max-width: 1600px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

.visit {
  position: absolute;
  z-index: 20;
  margin: auto;
  top: 20px;
  right: 10px;
  rotate: -3deg;
}
.visit span{
  font-family: monospace;
  color: white;
  /* background-color: #ff6384; */
  background-color: #f33;
  font-size: 1.4rem;
}

section.layout{
  margin: auto;
  /* position: fixed; */
  width: fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;
}
.slide-img {
  opacity: .85;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

li {
  list-style-type: none;
}

.swiper-button-prev,
.swiper-button-next {
  top: 55%;
  opacity: .3;
  background-color: transparent;
  color: #aee;
  /* border: 1px solid #aeeeee22; */
  padding: 1% 0;
}
.swiper-button-prev,
.swiper-button-next span{
  font-size: 2rem;
}
.swiper-button-prev {
  left: 0%;
}
.swiper-button-next {
  right: 0%;
}
.swiper-button-next::after, .swiper-button-prev::after {
    content: "";
}
/* .swiper-button-disabled {
  display: none;
} */
@media (min-width: 768px){
  .swiper-button-prev, 
  .swiper-button-next {
    top: 45%;
  }
  .swiper-button-prev{
    left: 2%;
  } 
  .swiper-button-next{
    right: 2%;
  }
}